services:
  keycloak:
    image: quay.io/keycloak/keycloak:20.0.0
    command: start-dev
    environment:
      - KC_DB=mysql
      - KC_DB_URL_HOST=mysql
      - KC_DB_URL_DATABASE=TesteDb
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=pa55word
      - KC_DB_SCHEMA=public
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      #mysql:
      #  condition: service_healthy
    networks:
      - keycloak_network

  mysql:
    image: mysql:latest
    volumes:
      - mysql:/var/lib/mysql/data
    environment:
      - MYSQL_DB=TesteDb
      - MYSQL_USER=keycloak
      - MYSQL_PASSWORD=pa55word
      - MYSQL_ROOT_PASSWORD=root_pwd
    #healthcheck:
    #  test: "exit 0"
    ports:
      - "3306:3306"
    networks:
      - keycloak_network
volumes:
  mysql:
networks:
  keycloak_network:
    driver: local